@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.oculto {
    transform: scale(1,0);
}

.exibido {
    transform: scale(1,1);
    transform-origin: top;
    transition: .5s;
}

.transparente {
    opacity: 0;
}

.transicao {
    opacity: 1;
    transition: 1s ease-in-out;
}

.container {
    text-align: center;
}

.container h2 {
    margin: 15px 0;
}

@media (max-width: 580px) {
    .container h2 {
        font-size: 1.2em;
    }
}

.container-title {
    display: flex;
    justify-content: center;
}

.container-title h1 {
    font-size: 4em;
}

@media (max-width: 580px) {
    .container-title h1 {
        font-size: 3em;
    }
}

.imgChurrasqueira {
    width: 4em;
}

@media (max-width: 580px) {
    .imgChurrasqueira {
        width: 3em;
    }
}

input {
    margin: auto;
    display: block;
    outline: none;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
}

input:focus {
    border: 1px solid rgb(199, 45, 45);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#adv {
    color: rgb(230, 36, 36);
    font-weight: bold;
}

button {
    width: 230px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, rgb(36, 35, 35), rgb(199, 45, 45) 50%, rgb(36, 35, 35) 30%);
    background-size: 200%;
    background-position: right;
    color: white;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-position: left;
}

button:active {
    color: rgb(131, 125, 125);
    font-size: 1.23em;
}

@media (max-width: 580px) {
    button {
        width: 200px;
        height: 45px;
        font-size: 1em;
    }

    button:active {
        font-size: 1.1em;
    }
}

#containerResposta {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 1px solid;
    width: 50%;
    height: 250px;
}

#containerResposta h3 {
    font-size: 6vmin;
}

#containerResposta p {
    font-size: 5vmin;
}

@media (max-width: 1000px) {
    #containerResposta {
        width: 80%;
    }
}